@import "tailwindcss";

@theme {
  --color-primary: #5F6FFF;
  --grid-template-columns-auto: repeat(auto-fill, minmax(180px, 1fr));
}

:root {
  --primary: #5F6FFF;
}

.active hr {
  display: block;
}